<%= render 'shared/main_header' %>
<%= render 'shared/secondary_header' %>
<div class="container">
	<h1>Mes Devis</h1>
	<div class="quotes">
		<%= render 'shared/table_quotes', quotes: @quotes, no_col: false %>
	</div>
</div>
