<%= render 'shared/main_header' %>
<%= render 'shared/secondary_header' %>
<div class="container">
	<h1>Mes Clients</h1>
	<div class="clients">
		<%= render 'shared/table_quotes', quotes: @quotes %>
	</div>
</div>
