
	<div class="main-header uk-padding-small uk-flex uk-flex-between">
		<form class="uk-search uk-search-default">
			<span uk-search-icon></span>
			<input class="uk-search-input uk-border-rounded" type="search" placeholder="Search...">
		</form>
		<div class="profil">
			<img class="uk-border-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTkIur5lLwlDKV3qFfHOP89aeBVdTWwXwdEOOm-qVfH21A2Kp_&s" width="40px" height="40px">
		</div>
	</div>
	<hr class="uk-margin-remove-top uk-margin-medium-bottom">

