<aside class="secondary-header">
	<div class="menu">
		<% @links.each do |link| %>
			<a href= "<%= link[:path] %>" >
				<div class="link">
					<i class="<%= link[:icon] %>"></i> <%= link[:name] %>
				</div>
			</a>
		<% end %>
	</div>
</aside>
