<div class="uk-padding-remove uk-margin-remove" uk-grid>
	<%= render 'shared/left_nav' %>
	<div uk-height-viewport="expand: true" class="uk-width-5-6 uk-padding-small uk-padding-remove-vertical">
		<%= render 'shared/main_header' %>
    <%= render 'shared/edit_client' %>
	</div>
</div>
