.btn {
  border: 2px solid rgba($color: grey, $alpha: 0.5);
  padding: 0.6em 2em;
  border-radius: 5px;
}

.btn-primary {
  background-color: rgb(77, 77, 238);
  color: white;
  border: 2px solid  rgb(77, 77, 238);
}

.btn-primary:hover {
  background-color: rgb(55, 55, 172);
  border: 2px solid  rgb(55, 55, 172);
  color: white;
}