.secondary-header {
  background-color: white;
  box-shadow: 0 7px 7px rgba(black, 0.1);
  padding: 20px 0;
  .menu {
    display: flex;
    justify-content: center;
    .link{
      font-size: 22px;
      margin: 0 20px;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
      i{
        margin-right: 2px;
      }
    }
  }
}
